<!DOCTYPE html>
<html lang="en">
<%- include('../../layouts/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <%- include('../../layouts/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../../layouts/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard / Course</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Course</a></li>
                <li class="breadcrumb-item active">Course</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->

          <a href="/add/course" class="btn btn-info"> Add Course</a>
          <table class="table mt-2">
            <thead>
              <tr>
                <th scope="col">Sl</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Details</th>
                <th scope="col">Status</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% courses.forEach((course, index) => { %>
              <tr>
                <th scope="row"><%= index + 1 %></th> <!-- Dynamic index -->
                <td><%= course.name %></td> <!-- Dynamic title -->
                <td><%= course.price %></td> <!-- Dynamic subtitle -->
                <td><%= course.details %></td> <!-- Dynamic details -->
                <td>
                  <% if (course.isActive) { %>
                    <a href="/course/deactivate/<%= course._id %>" class="btn btn-danger">Deactivate</a>
                  <% } else { %>
                    <a href="/course/activate/<%= course._id %>" class="btn btn-success">Activate</a>
                  <% } %>
                </td>
                <td><a href="/course/edit/<%= course._id %>" class="btn btn-success">Edit</a></td>
                <td>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="<%= course._id %>">Delete</button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>

          <!-- Delete Confirmation Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this course?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <form id="deleteForm" method="POST" action="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../layouts/footer.ejs') %>
  </div>

  <!-- Optional JavaScript for Modal functionality -->
  <script>
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var courseId = button.data('id'); // Extract course id from data-* attributes
      var form = $('#deleteForm');
      form.attr('action', '/course/delete/' + courseId); // Set the form action dynamically
    });
  </script>

</body>

</html>
